<configuration scan="true" scanPeriod=" 5 seconds">

	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{56}:%-5L] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logbiz/canal-client-%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{HH:mm:ss:SSS}][%5p][%c:%L] %m%n</pattern>
		</layout>
	</appender>
	
	<appender name="ENTRY_LOG" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>
	
	<logger name="com.alibaba.otter.canal.example.AbstractCanalClientTest" additivity="false">  
        <level value="INFO" />  
        <appender-ref ref="ENTRY_LOG" />
    </logger>
	
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="logfile"/>
	</root>
</configuration>